* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  position: relative;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;

  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 600px;
  flex-direction: column;
  gap: 20px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  background-color: #f0f0f0;
}

input {
  width: 100%;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  outline: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  background-color: #f0f0f0;
}
#deleteCookie,
#logoutBtn,
.submitButton {
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #f0f0f0;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.errorMessageContainer {
   width: 100%;
   font-size: 16px;
   color: red;
   text-align: center;
   margin-bottom: 20px;
}

.directTo{
  width: 100%;
  text-align: left;
  text-decoration: underline;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: blue;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 20px;
}

#LoginForm {
  display: none;
}